<html mxlns:th="http://www.thymeleaf.org">

<head th:fragment="registFragmentHead">
    <link rel="stylesheet" href="/styles/user/regist.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-D5/oUZrMTZE/y4ldsD6UOeuPR4lwjLnfNMWkjC0pffPTCVlqzcHTNvkn3dhL7C0gYifHQJAIrRTASbMvLmpEug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css" integrity="sha512-aQb0/doxDGrw/OC7drNaJQkIKFu6eSWnVMAwPN64p6sZKeJ4QCDYL42Rumw2ZtL8DB9f66q4CnLIUnAw28dEbg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css" integrity="sha512-aQb0/doxDGrw/OC7drNaJQkIKFu6eSWnVMAwPN64p6sZKeJ4QCDYL42Rumw2ZtL8DB9f66q4CnLIUnAw28dEbg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css" integrity="sha512-t+00JqxGbnKSfg/4We7ulJjd3fGJWsleNNBSXRk9/3417ojFqSmkBfAJ/3+zpTFfGNZyKxPVGwWvaRuGdtpEEA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js" integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div th:fragment="registFragment" class="container">
        <form action="/user/regist" method="post" class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-id">ID</span>
                <input
                type="text"
                title="비밀번호"
                class="form-control"
                placeholder="ID"
                aria-label="user-id"
                aria-hidden="user-id"
                name="userId" 
                />
                <span class="input-group-text" id="password">PW</span>
                <input
                type="password"
                title="비밀번호"
                class="form-control"
                placeholder="password"
                aria-label="password"
                aria-hidden="password"
                name="password" 
                />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="name">Name</span>
                <input
                type="text"
                class="form-control"
                placeholder="Name"
                aria-label="name"
                aria-describedby="name"
                id="name"
                name="name"
                />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="phone">phone</span>
                <input
                type="text"
                class="form-control"
                placeholder="Phone Number"
                aria-label="phone"
                aria-describedby="phone"
                id="phone"
                name="phone"
                />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="address">address</span>
                <input
                type="text"
                class="form-control"
                placeholder="address"
                aria-label="address"
                aria-describedby="address"
                id="adress"
                name="adress"
                />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="email">E-mail</span>
                <input
                type="email"
                class="form-control"
                placeholder="email"
                aria-label="email"
                aria-describedby="email"
                id="email"
                name="email"
                />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="gitAddress">gitAddress</span>
                <input
                type="text"
                class="form-control"
                placeholder="gitAddress"
                aria-label="gitAddress"
                aria-describedby="gitAddress"
                id="gitAddress"
                name="gitAddress"
                />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                    <input 
                    type="radio" 
                    class="form-check-input mt-0" 
                    value="1" 
                    aria-label="gender"
                    id="fender-male"
                    name="gender" 
                    />
                    </div>
                    <label for="gender-male" class="form-control">Male</label>
                    <div class="input-group-text">
                    <input 
                        type="radio" 
                        class="form-check-input mt-0" 
                        value="2" 
                        aria-label="gender"
                        id="fender-female"
                        name="gender" 
                    />
                    </div>
                    <label for="gender-female" class="form-control">Female</label>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="birth">birth day</span>
                    <input
                    type="text"
                    class="form-control"
                    aria-label="birth"
                    aria-describedby="birth"
                    id="datePicker"
                    name="birth"
                    autocomplete="off"
                    />
                </div>
                <div class="input-group">
                <button class="btn btn-primary btn-lg m-auto" onclick="go_join()">sign in</button>
                </div>
        </form>
        <script>
            $("#datePicker").datepicker({
                    Format: "yyyy-mm-dd",
                    // startDate:"-1d",
                    endDate: "1d",
                    autoclose: true,
                    clearBtn: true,
                    title: "Birth day",
                    language: "ko",
                    // multidate: true,
                });
                $('.form-control').on('keyup', function () {
                    if ($(this).attr('name') == 'userId') {
                        if (event.keyCode == 13) { id_check(); }
                        else {
                            $(this).removeClass('chked');
                            validate($(this), join.id_status);
                        }
                    } else {
                        validate($(this), join.tag_status);
                    }
                });

                function validate(t) {
                        var data = statusFunction(t.val()); 
                        display_status(t.siblings('div'), data);
                    }

                function display_status(div, data) {
                    div.text(data.desc);
                    div.removeClass();
                    div.addClass(data.code)
                }
                function go_join() {
            
                        if ($('[userId = userId]').val() == '') {
                            alert('아이디를 입력하세요!');
                            $('[userId = userId]]').focus();
                            return;
                        }
                        if ($('[password = password]').val() == '') {
                            alert('비밀번호를 입력하세요!');
                            $('[password = password]').focus();
                            return;
                        }
                        if ($('[name = name]').val() == '') {
                            alert('이름을 입력하세요!');
                            $('[name = name]').focus();
                            return;
                        }
                        if ($('[phone = phone]').val() == '') {
                            alert('핸드폰 번호를 입력하세요!');
                            $('[phone = phone]').focus();
                            return;
                        } else ($('[email = email]').val() == '')
                        {
                            alert('이메일을 입력하세요!');
                            $('[email = email]').focus();
                            return;
                        }
                        

                        if (!item_check($('[name=pw]'))) return;
                        if (!item_check($('[name=email]'))) return;

                        $('form').submit();
                    }
                var space = /\s/g;
                var title = "";
                var join = {
                    common: {
                        empty: { code: 'invalid', desc: title + '입력하세요.' },
                        space: { code: 'invalid', desc: '공백 없이 입력하세요.' }
                    },
                    userId: {
                        invalid: { code: 'invalid', desc: '아이디는 영문 소문자, 숫자만 입력하세요.' },
                        min: { code: 'invalid', desc: '최소 3자 이상 입력하세요.' },
                        max: { code: 'invalid', desc: '최대 20자 이내로 입력하세요.' }
                    },
                    id_status: function (userId) {
                        var reg = /[^a-z0-9]/g;
                        title = $('[name = userId]').attr('title');
                        if (userId == '') {
                            return this.common.empty;
                        } else if (id.match(space)) {
                            return this.common.space;
                        } else if (reg.test(userId)) {
                            return this.userId.invalid;
                        } else if (id.length < 3) {
                            return this.common.min;
                        } else if (id.length > 20) {
                            return this.common.max;
                        }
                    },
                    password: {
                        invalid: { code: 'invalid', desc: '비밀번호는 영문 대/소문자, 숫자,특수문자만 입력하세요.' },
                        lack: { code: 'invalid', desc: '비밀번호는 영문 대/소문자,숫자,특수문자를 모두 포함해야 합니다.' },
                        min: { code: 'invalid', desc: '최소 10자 이상 입력하세요.' },
                        max: { code: 'invalid', desc: '최대 30자 이내로 입력하세요.' },
                    },
                    password_status: function (password) {
                        var reg = /[^a-zA-Z0-9!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/g;
                        title = $('[name = password]').attr('title');
                        var upper = /[A-Z]/g, lower = /[a-z]/g, digit = /[0-9]/g, spc = /[~!@#$%^&*()_+|<>?:{}]/g;
                        if (password == '') return this.common.empty;
                        else if (password.match(space)) return this.common.space;
                        else if (reg.test(password)) return this.password.invalid;
                        else if (password.length < 10) return this.common.min;
                        else if (password.length > 30) return this.common.max;
                        else if
                            (!upper.test(password) || !lower.test(password) || !digit.test(password) || !spc.test(password))
                            return this.password.lack;
                    },
                    name:{
                        invalid: { code: 'invalid', desc: '이름은 영문 대/소문자,한글만 입력하세요.' },
                        min: { code: 'invalid', desc: '최소 2자 이상 입력하세요.' },
                        max: { code: 'invalid', desc: '최대 20자 이내로 입력하세요.' },
                    },
                    name_status: function (name) {
                        var reg = /[^a-zA-Z가-힣]/g;
                        title = $('[name = name]').attr('title');
                        if (name == '') {
                            return this.common.empty;
                        } else if (name.match(space)) {
                            return this.common.space;
                        } else if (reg.test(name)) {
                            return this.name.invalid;
                        } else if (name.length < 2) {
                            return this.common.min;
                        } else if (name.length > 20) {
                            return this.common.max;
                        } 
                    },
                    phone:{
                        invalid: { code: 'invalid', desc: '숫자/"-"만 입력하세요.' },
                        min: { code: 'invalid', desc: '최소 10자 이상 입력하세요.' },
                        max: { code: 'invalid', desc: '최대 13자 이내로 입력하세요.' }
                    },
                    phone_status: function (phone) {
                        var reg = /[^0-9-]/g;
                        title = $('[name = phone]').attr('title');
                        if (phone == '') {
                            return this.common.empty;
                        } else if (phone.match(space)) {
                            return this.common.space;
                        } else if (reg.test(phone)) {
                            return this.phone.invalid;
                        } else if (phone.length < 10) {
                            return this.common.min;
                        } else if (phone.length > 13) {
                            return this.common.max;
                        } 
                    },
                    adress:{
                        min: { code: 'invalid', desc: '최소 5자 이상 입력하세요.' },
                        max: { code: 'invalid', desc: '최대 100자 이내로 입력하세요.' }
                    },
                    adress_status: function (adress) {
                        var reg = /[^0-9-]/g;
                        title = $('[name = adress]').attr('title');
                        if (adress == '') {
                            return this.common.empty;
                        } else if (adress.match(space)) {
                            return this.common.space;
                        } else if (adress.length < 5) {
                            return this.common.min;
                        } else if (adress.length > 100) {
                            return this.common.max;
                        } 
                    },
                    email:{
                        min: { code: 'invalid', desc: '최소 5자 이상 입력하세요.' },
                        max: { code: 'invalid', desc: '최대 100자 이내로 입력하세요.' }
                    },
                    email_status: function (email) {
                        var reg = /[^0-9-]/g;
                        title = $('[name = email]').attr('title');
                        if (email == '') {
                            return this.common.empty;
                        } else if (email.match(space)) {
                            return this.common.space;
                        } else if (email.length < 5) {
                            return this.common.min;
                        } else if (email.length > 100) {
                            return this.common.max;
                        } 
                    },
                }

        </script>
    </div>
</body>