@charset "UTF-8";

body {
	margin: 0;
}

.root {
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtwp5LgcUQ0nVqlqIiZvX_i6Sic_XJfnae0Q&usqp=CAU');
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
	position: relative;
}

.bed {
	position: absolute;
	width: 48%;
	height: 44%;
	left: 26%;
	top: 44%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table {
	position: absolute;
	width: 16%;
	height: 26%;
	left: 6%;
	top: 52%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo {
	position: absolute;
	width: 16%;
	height: 19%;
	left: 28%;
	top: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
}