<html lang="ko" mxlns:th="http://www.thymeleaf.org"></html>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <a 
    th:fragment="itemFragment (item)"
    style="color: rgb(246, 7, 11);"
    class="items-inner-box"
    th:object="${item}"
    th:href="@{/board/item (id=*{id})}">
        <div class="title">[[*{title}]]</div>
        <div class="user">user : <span class="user-name" th:text="*{user}"></span>
        </div>
        <a th:href="@{/board/edit (id=*{id})}" class="edit-button">수정하기</a>
        </a>
        <a
    th:fragment="itemFragmentBlue (item)"
    style="color: rgb(0, 255, 94);"
    class="items-inner-box"
    th:object="${item}"
    th:href="@{/board/item (id=*{id})}">
        <div class="title">[[*{title}]]</div>
        <div class="user">user : <span class="user-name" th:text="*{user}"></span>
            </div>
        <a th:href="@{/board/edit (id=*{id})}" class="edit-button">수정하기</a>
    </a>
</body>
</html>