@charset "UTF-8";

body{
	background-image: url('https://assets.clip-studio.com/ko-kr/description/1829174/img/d22935fd39-e447-bda0-1593-9a823a3298.jpg');
	background-size: cover;
};
button.room2{
 position:  flex;
 width: 80px;
 height: 50px;
 top: 500px;
 left: 250px;
 
};
.room3{
 position:  flex;
 left: 1000px;
};

