@charset "UTF-8";
body{
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1GGBC9zq6xM-QjOfnrZSkX1sLzhxkA0jazQ&usqp=CAU');
	background-size: cover;
};

.bed.bed_btn{
    top: 500px;
    position: absolute;
    left: 500px;
};
